<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="userInfo" value="https://mimundo.upn.edu.pe/api/zubron/execute/%2Fprofile%2Fget" />
		<add key="userHistoricalNotes" value="https://mimundo.upn.edu.pe/api/zubron/execute/%2Ftranscript%2Flist" />
		<add key="userCourses" value="https://mimundo.upn.edu.pe/api/zubron/execute/%2Fsubjects%2Fwebwidget" />
		<add key="userCoursesNotes" value="https://mimundo.upn.edu.pe/api/zubron/execute/%2Fgrades%2Fsubject%2Flist" />
		
		<add key="userInfo-Default" value="https://mimundo.upn.edu.pe/api/zubron/execute/%2Fprofile%2Fget" />
		<add key="userHistoricalNotes-Default" value="https://mimundo.upn.edu.pe/api/zubron/execute/%2Ftranscript%2Flist" />
		<add key="userCourses-Default" value="https://mimundo.upn.edu.pe/api/zubron/execute/%2Fsubjects%2Fwebwidget" />
		<add key="userCoursesNotes-Default" value="https://mimundo.upn.edu.pe/api/zubron/execute/%2Fgrades%2Fsubject%2Flist" />
	</appSettings>
</configuration>